{% extends 'base_plataforma.html' %}
{% load static %}

{% block titulo %}
Cadastrar Livros
{% endblock %}

{% block main %}
    <h1 class="jumbotron-heading">Cadastro de livro</h1>
{% endblock  %}

{% block conteudo %}

    <div class="container">
        <form action="{% url 'cadastrar_livro' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>
            <table>
                {{form.as_table}}  
            </table>  
        
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <br>
        </form>
    </div>

{% endblock %}