{% extends 'base_plataforma.html' %}
{% load static %}


{% block titulo %}Home{% endblock  %}

{% block main %}
<h1 class="jumbotron-heading">Lista de livros</h1>
{% endblock  %}


{% block conteudo %}

{% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
{% endif %}

<div class="album py-5 bg-light">    
    <div class="container">        
        <div class="row">

            {% for livro in livros %} 
            
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">                                       
                        <img class="card-img-top" width="100%" src="{{livro.img.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-text">{{livro.nome_livro}}</h3>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'ver_livro' livro.id %}" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>
                                    <a href="{% url 'editar_livro' livro.id %}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            {% endfor %}

        </div>        
    </div>        
</div>


{% endblock  %}